@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    border: none;
}
.font-headings{
    font-family: 'Poppins', sans-serif;
}

.font-body{
    font-family: 'Open Sans', sans-serif;
}

body {
    min-height: 100vh;
    background-color: hsl(257, 40%, 49%);
}

.container{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.top{

    display: flex;
    background-image: url(images/bg-mobile.svg);
    background-position: center;
    background-size:cover;
    flex-direction: column;
}

header{
    margin: 0 1.5em;
    align-self: right;
}

header > img{
    position: relative;
    top: 2em;
    left: 0.8em;
    width: 8em;
}

.ilustracion{
    position: relative;
    top:2em;
    left: 1em;
    width: 18.5em;
    margin: 4em 1.6em;
}

.bottom{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 2.3em;
}

.bottom > h2{
    font-family: 'Poppins', sans-serif;
    color: white;
}

.bottom > p{
    font-family: 'Open Sans', sans-serif;
    color: white;
}

button{
    font-family: 'Open Sans', sans-serif;
    color: hsl(257, 40%, 49%);
    border-radius: 20px;
    width: 15em;
    margin: 1em;
    padding: 0.8em;
    align-self: center;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}