@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    border: none;
}
.font-headings{
    font-family: 'Poppins', sans-serif;
}

.font-body{
    font-family: 'Open Sans', sans-serif;
}

body {
    min-height: 100vh;
    background-color: hsl(257, 40%, 49%);
}

.container{
    display: flex;
    flex-direction: column;
}

.top{

    display: flex;
    background-image: url(images/bg-mobile.svg);
    background-position: center;
    background-size:cover;
    flex-direction: column;
}

header{
    margin: 0 1.5em;
    align-self: right;
}

header > img{
    position: relative;
    top: 2em;
    left: 0.8em;
    width: 8em;
}

.ilustracion{
    position: relative;
    top:2em;
    left: 1em;
    width: 18.5em;
    margin: 4em 1.6em;
}

.bottom{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 2.3em;
}

.bottom > h2{
    font-family: 'Poppins', sans-serif;
    color: white;
}

.bottom > p{
    font-family: 'Open Sans', sans-serif;
    color: white;
}

button{
    font-family: 'Open Sans', sans-serif;
    color: hsl(257, 40%, 49%);
    border-radius: 20px;
    width: 15em;
    margin: 1em;
    padding: 0.8em;
    align-self: center;
    box-shadow: 0px 10px 10px -6px black;
}

.icons{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 2em;
}

.icons > i{
    color: white;
    margin: 0.5em;
    border: 1px solid white;
    padding: 0.5em;
    border-radius: 100%;
}

@media (min-width:1440px) {

    body{
        min-height: 100vh;
        display: grid;
        place-content: center;
        background-image: url(images/bg-desktop.svg);
        background-size: contain;
        background-position:inherit;
        background-repeat: no-repeat;
    }
    .container{
        display: flex;
        flex-direction: row;
    }

    .top{
        background-image: none;
    }

    header > img{
        width: 10em;
        margin-bottom: 0;
    }

    .ilustracion{
        position: relative;
        width:max-content;
    }

    .bottom{
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .bottom > h2{
        padding-right: 10em;
    }
    .bottom > p{
        margin-top: 1em;
        padding-right: 6em;
        line-height: 1.6em;
    }

    button{
        position: relative;
        right: 13em;
    }

    .icons{
        position: relative;
        align-self: flex-end;
        right: 13em;
    }
}